@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@200&display=swap" rel="stylesheet');
$font-roboto:'Alumni Sans', sans-serif;


@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
$font-chela: 'Fredoka One', cursive;


$bg1: rgba(57, 59, 59, 0.994);
$text1: rgb(255, 252, 252);
$text2: rgba(67, 62, 62, 0.672);
$text3: rgb(0, 0, 0);
$hover: rgb(94, 228, 132);


$spacing-sm: .5em; //8px
$spacing-md: 1em; //16px
$spacing-lg: 2em; //32px

$header-height: 5em; //90px


$sm: 30em; //480px
$md: 48.125em; //770px
$lg: 60em; //960px
$xl: 68.75em; //1100px



