@import "../../styles/_mixins";
@import "../../styles/variables.scss";


.container {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
	position: relative;

	
	&__imgCard {
		@include flex(row, nowrap, center, center);
		//background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../public/img/pufiRain.jpeg") no-repeat center center /cover;
		background:  no-repeat center center /cover;
		color: $text1;
		min-height: 45vw;
		position: relative;
		
		&::after {
			content:'';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.315);
		}

		& button {
			z-index: 1;
			@include button-hover;
		}
		
	}

	
	&__backCard {
		background: rgb(242, 240, 240);
	}


	&__infoCard {
		@include flex(column, nowrap, center, center);
		text-align: center;
		min-height: 45vw;

		@include breakpoint(md) {
			font-size: 1.9vmin;
		}

		& img {
			width: 7.7em;
			height: 8em;
			//transform: rotate(14deg); //rota imagen
			//filter: drop-shadow(0em 2em 1em rgba(0, 0, 0, 0.243)); //sombra de imagen
		}

		& h1 {
			font-size: 1.6em;
			padding-top: 0.8em;
		}

		& p {
			width: 40%;
			@include breakpoint(lg) {
				width: 57%;
			}
		}

		& svg {
			transform: rotate(270deg);
			font-size: 0.8em;
		}

		& a {
			display: flex;
			align-items: center;
			margin-top: 4em ;
			font-size: 0.75em;
			letter-spacing: 0.2em;
			gap: 0.7em;
		}

		&__divider {
			width: 2.2em;
			margin: 1.5em 0;
			border-bottom: 1px solid $text2;
		}
	}


	&__triangle {
		position: absolute;
		right: 50%;
		z-index: 1;
		border-top: 1vw solid transparent;
        border-right: 1.2vw solid rgb(242, 240, 240);
        border-bottom: 1vw solid transparent;
	}
	

	&__triangle2 {
		position: absolute;
		left: 50%;
		z-index: 1;
        border-top: 1vw solid transparent;
        border-left: 1.2vw solid rgb(255, 255, 255);
        border-bottom: 1vw solid transparent;
	}
}

		

